#Thu, 18 Apr 2013 11:34:21 -0400
app.name=seo-mobile

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=61084cd0-43b1-44ae-89b3-99723256fdc4
